/* Đặt màu nền tổng thể cho toàn trang */
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(104, 146, 119);
}




/* Scrollbar tùy chỉnh nếu có danh sách dài */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}