:root {
  --button-green-background: #28a745;
  --button-green-background-hover: #45a049;
  --button-red-background: #dc3545;
  --button-red-background-hover: #c82333;
  --button-background-disabled: #6c757d;
}

/* Đặt màu nền tổng thể cho toàn trang */
body {
    max-width: 1240px;
    width: 100%;
    margin: 10px auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: url(../assets/home-bg-2.jpg);
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(104, 146, 119);
}




/* Scrollbar tùy chỉnh nếu có danh sách dài */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}