.translation-viewer {
    padding: 20px;
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 8px;
  }
  
  .menu-bar {
    display: flex;
  
    gap: 10px;
    margin-bottom: 15px;
  }
  .menu-bar .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
  }

  .menu-bar .row:first-child{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
  }
  .menu-bar .row button {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  .menu-bar button:disabled {
    background-color: #888;
    cursor: not-allowed;
  }
  
  .translated-content {
    background: #2a2a2a;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
  }
  