body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(104, 146, 119);
}

/* Căn giữa wrapper cả theo chiều ngang và dọc */
.wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 10px auto;
    padding: 25px;
    background-color: rgba(249, 247, 246, 0.966);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.wrapper h2 {
    margin-bottom: 20px;
}

/* thông báo về key */
.notify {
    margin-bottom: 20px;
}

/*Khu vực upfile*/

.file-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}


.file-container input {
    width: 50%;
}

.file-container .btn-check-file {
    width: 50%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #32744f;
    color: #fff;
    font-size: 1.3rem;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Khu vực hướng dẫn */
.chapter-guide {
    padding: 20px;
    color: #444;
}

.chapter-guide-title {
    margin-bottom: 10px;
}

.chapter-guide-content {
    text-align: left;
    line-height: 1.1;
}

/* Khu vực chứa nút Hoàn tất */
.converter-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.converter-btn>button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #32744f;
    color: #fff;
    font-size: 1.3rem;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.converte>button:hover {
    background-color: #163328;
}




/* chọn model AI */
.tip-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.tip-model-select {
    margin-top: 1rem;
    border: 1px dashed #d1d5db;
    border-radius: 0.5rem;
    padding: 5px;
}

.tip-label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.tip-model-description {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    color: #4b5563;
}


.tip-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* hoặc row nếu bạn muốn hiển thị ngang */
    gap: 8px;

}

.tip-radio-option {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 0.5px dashed #d7e7de;
    border-radius: 5px;
}