.translation-viewer {
  padding: 10px;
  /* margin-top: 20px; */
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.dark .translation-viewer {
  background-color: #1f1f1f;
  color: #ffffff;
}

.translation-viewer h3 {
  margin-bottom: 10px;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  gap: 10px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.dark .menu-bar {
  background-color: #2a2a2a;
}

.menu-bar .row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.menu-bar .row button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 45px;
}

.menu-bar button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.translated-content {
  /* max-height: 967px; */
  overflow-y: auto;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  white-space: pre-wrap;
  transition: all 0.3s ease;
}

.dark .translated-content {
  background: #2a2a2a;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  resize: vertical;
  /* Cho phép người dùng thay đổi kích thước theo chiều dọc */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.dark textarea {
  background-color: #333;
  color: #fff;
  border-color: #45a049;
}

textarea:focus {
  border-color: #3e8e41;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
  outline: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .translation-viewer {
    padding: 10px;
  }

  .menu-bar {
    flex-direction: column;
    gap: 5px;
  }

  .menu-bar .row {
    flex-direction: column;
    align-items: stretch;
  }

  .menu-bar .row button {
    width: 100%;
  }

  .translated-content {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .translation-viewer {
    padding: 5px;
  }

  textarea {
    height: 100px;
  }
}