/* Converte.css */
.converter-page {
    font-family: 'Arial', sans-serif;

    margin: 10px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .converter-title {
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .upload-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .upload-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .convert-button {
    background-color: #199638;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .check-button:hover {
    background-color: #32744f;
  }
  
  .loading-message {
    color: #6c757d;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .translation-info {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
  }
  
  .translation-info h4 {
    color: #212529;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .translation-info p {
    margin-bottom: 5px;
  }
  
  .conversion-comparison-section {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  /* .comparison-panel {
    flex: 1;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 15px;
    background-color: #fff;
  }
  
  .comparison-panel h5 {
    color: #28a745;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .comparison-panel textarea {
    width: 100%;
    min-height: 250px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
  }
  
  .comparison-controls {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .comparison-controls button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .comparison-controls button:first-child {
    background-color: #6c757d;
    color: #fff;
  }
  
  .comparison-controls button:last-child {
    background-color: #007bff;
    color: #fff;
  }
  
  .comparison-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } */